<div class="navBar">
    <div class="clickable" onclick="tohomepage()"><span>k<span class="blueFont">b</span></span></div>
    <form action="/user/homepage" method="GET">
        <input name="keyword" id="searchInput" placeholder="&#x1F50D;Search..">
        <button style="display: none"></button>
    </form>
    <button type="button" id="logoutBtn" onclick="logout()">logout</button>
</div>