<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Knowledge Base</title>
    <link href='/css/general.css' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">

    {{#each (getCss)}}
        <link rel="stylesheet" href="/css/{{this}}.css">
    {{/each}}
</head>

<body>
    {{{body}}}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src='/js/util.js'></script>
</html>