<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href='login.css' rel='stylesheet' />

</head>

<body>
    <div class="sideBySideDivContainer">
        <div class="leftDiv">
            <h1>Knowledge<span class="blueFont">Base</span></h1>
            <img src="./img/vector-knowledge.jpg" alt="homeImage" />

        </div>
        <div class="rightDiv">
            <form action="" method="POST">
                <input type="text" name="email" placeholder="email" />
                <input type="text" name="password" placeholder="password" />
                <button class="submitBtn" type="submit" value="Submit">Submit</button>
            </form>

            <p class="homeP">
                Join the worlds largest <br />
                community for knowledge <br />
                sharing
            </p>

            <div class="postDiv">
                <form action="" method="POST">
                    <input class="sideBySideInput" type="text" name="firstName" placeholder="First Name" />
                    <input  class="sideBySideInput" type="text" name="lastName" placeholder="Last Name" /> <br />
                    <input class="oneLineInput" type="text" name="email" placeholder="email" /> <br />
                    <input class="oneLineInput"  type="text" name="password" placeholder="password" /><br />
                    <button class="signupBtn" type="submit" value="signup">signup</button>
                </form>
            </div>

        </div>

    </div>
</body>

</html>