<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href='login.css' rel='stylesheet' />

</head>

<body>
    <h1>Knowledge<span class="blueFont">Base</span></h1>
    <div class="leftDiv">
        <p class="homeP">
            Let us <br />
            know a <br />
            little more <br />
            about you
        </p>

    </div>
    <div class="rightDiv">
        <div class="postDiv">
            <form action="" method="POST" id="registrationForm">
                <input class="oneLineInput" type="text" name="imgUrl" placeholder="imageUrl" /> <br />
                <textarea id="registrationTextArea" form ="registrationForm" rows="10" type="text" name="about" placeholder="a few lines about yourself..."></textarea><br />
                <input class="oneLineInput" type="text" name="country" placeholder="country" /> <br />
                <input class="oneLineInput" type="text" name="dateOfBirth" placeholder="date of birth (mm/dd/yyyy)" /><br />
                <button class="signupBtn" type="submit" value="signup">complete registration</button>
            </form>
        </div>

    </div>

</body>

</html>